<h1>Accounts</h1>
<ul>
  <li>
    <%= link_to "Facebook (#{current_user.authorizations.provider("facebook").count})", user_omniauth_authorize_path(:facebook) %>
  </li>
  <li>
    <%= link_to "Twitter (#{current_user.authorizations.provider("twitter").count})", user_omniauth_authorize_path(:twitter) %>
  </li>
  <li>
    <%= link_to "Vimeo (#{current_user.authorizations.provider("vimeo").count})", user_omniauth_authorize_path(:vimeo) %>
  </li>
  <li>
    <%= link_to "YouTube (#{current_user.authorizations.provider("you_tube").count})", user_omniauth_authorize_path(:you_tube) %>
  </li>
</ul>